<!--p>list-pokemon works!</p-->

<!--input
    #input
    (keyup.enter)="selectPokemon(input.value)"
    type="number"
/-->

<!-- * est une directive structurelle >
<p *ngIf="pokemonSelected">
    Vous avez selectionné le pokemon: {{pokemonSelected?.name}}
</p>
<p *ngIf="!pokemonSelected">
    Aucun pokemon n'a été trouvé.
</p-->

<!--https://materializecss.com/getting-started.html-->
<div class="container">
    <div class="row">
        <div *ngFor="let pokemon of pokemonsList" class="col m4 s6">
            <!--<div class="card horizontal" (click)="selectPokemon(pokemon)" pkmnBorderCard={{pokemon.bordercolor}}>-->
            <div class="card horizontal" (click)="selectPokemon(pokemon)" pkmnBorderCard={{pokemon.bordercolor}}>
                <div class="card-image">
                    <img [src]="pokemon.picture">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{pokemon.name}}</p>
                        <p><small>{{pokemon.created | date:'shortDate':'+0100' | uppercase}}</small></p>
                        <span 
                            *ngFor="let type of pokemon.types" 
                            class="{{type | pokemonTypeColor}}"
                        >
                            {{type}}
                        </span>
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--(click)="selectPokemon($event)"-->
<!--p (click)="selectPokemon(pokemonsList[1])">{{ pokemonsList[1].name }}</p>
<p>{{ pokemonsList[2].name }}</p>
<p>{{ pokemonsList[3].name }}</p>
<p>{{ pokemonsList[4].name }}</p-->

