<h1>List de Pokémons</h1>

<input
    #input
    (keyup.enter)="selectPokemon(input.value)"
    type="number"
/>

<!-- * est une directive structurelle -->
<p *ngIf="pokemonSelected">
    Vous avez selectionné le pokemon: {{pokemonSelected?.name}}
</p>
<p *ngIf="!pokemonSelected">
    Aucun pokemon n'a été trouvé.
</p>

<p *ngFor="let pokemon of pokemonsList">
    {{ pokemon.name }}
</p>

<!--(click)="selectPokemon($event)"-->
<!--p (click)="selectPokemon(pokemonsList[1])">{{ pokemonsList[1].name }}</p>
<p>{{ pokemonsList[2].name }}</p>
<p>{{ pokemonsList[3].name }}</p>
<p>{{ pokemonsList[4].name }}</p-->




